.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  border-radius: 1rem;
  height: 17.5rem;
  padding-block: 2rem 3.5rem;
  padding-inline: 1.5rem;

  background-image: url(/public/images/bg-today-small.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.hero header {
  flex: 5;
  text-align: center;
  max-height: 6rem;
}

.hero header h2 {
  font-size: 1.75rem;
  font-weight: 700;
  padding-block-end: 0.5rem;
}

.hero header time {
  color: var(--card-title);
  font-size: 1.125rem;
}

.hero div {
  flex: 3;
  margin-inline: auto;

  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
}

.hero img {
  width: clamp(5rem, -12.4545rem + 87.2727vw, 8rem);
}

.hero strong {
  font-size: clamp(4rem, -7.6364rem + 58.1818vw, 6rem);
  font-weight: 600;
  font-style: italic;
}

.hero_skeleton {
  composes: hero;
  justify-content: center;
  background: var(--card-bg);
  color: var(--card-title);
  padding: 0;
  position: relative;
}

.hero_skeleton img {
  animation: rotation 1s infinite cubic-bezier(0.39, 0.575, 0.565, 1);
  width: 7rem;
  position: absolute;
}

.variables {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  gap: 1rem;

  font-weight: 300;
}

.variables > div {
  background-color: var(--card-bg);
  border: 1px solid var(--card-border);
  border-radius: 0.5rem;
  padding: 1.125rem;
  height: 7.5rem;
}

.variables > div p {
  color: var(--card-title);
  font-size: 1.25rem;
  margin-block-end: 1.5rem;
}

.variables > div span {
  font-size: 2rem;
  line-height: 1;
  white-space: nowrap;
}

.variables span[data-loading="true"] {
  display: inline-block;
  border: 1px solid grey;
  color: var(--card-title);
  width: 1rem;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (min-width: 1024px) {
  .hero {
    background-image: url(/public/images/bg-today-large.svg);
    flex-direction: row;
    padding-block: unset;
  }

  .hero header {
    text-align: start;
  }
}
