.search form {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 0.75rem;
  max-width: 41.25rem;
  margin-inline: auto;
}

/* @[SearchInput.module.css] Command */
.search form > :first-child {
  flex-grow: 3;
  flex-basis: 24rem;
}

.search form > button {
  flex-grow: 1;
  flex-basis: 6rem;

  background-color: var(--accent-primary);
  border-radius: 0.75rem;
  border-width: 0;
  color: var(--text);

  cursor: pointer;
  font-size: 1.25rem;
  padding: 1rem;

  transition: background-color 100ms ease-in;
}

.search form > button:hover {
  background-color: var(--accent-dark);
}

.search form > button:focus-visible {
  outline-color: var(--accent-primary);
}
