.command {
  position: relative;
}

.input {
  width: 100%;

  border-width: 0;
  border-radius: 0.75rem;
  background: url(/public/icons/search.svg) no-repeat 1.5rem 1.25rem;
  background-color: var(--card-bg);
  color: var(--text-primary);
  font-size: 1.25rem;

  padding: 1rem;
  padding-inline-start: 3.75rem;
}

[cmdk-list] {
  display: none;
  pointer-events: all;
  position: absolute;
  z-index: 1;

  margin-block-start: 0.75rem;
  /* max-height: 48rem; */
  padding: 0.5rem;
  width: 100%;

  background-color: var(--card-bg);
  border-radius: 0.75rem;
  overflow: clip;

  transition: height 300ms cubic-bezier(0.86, 0, 0.07, 1);

  /* scroll-padding-block-start: 8px;
  scroll-padding-block-end: 8px; */
}

[cmdk-list] {
  display: block;
  height: calc(var(--cmdk-list-height) + 1rem);
}

[cmdk-item] {
  font-size: 1.125rem;
  padding: 0.5rem;

  /* Displays an ellipsis (...) for clipped text */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

[cmdk-item]:hover,
[cmdk-item][data-selected="true"] {
  background-color: var(--card-row-bg);
  outline: 1px solid var(--card-row-border);
  border-radius: 0.5rem;
}
