.input {
  width: 100%;

  border-width: 0;
  border-radius: 0.75rem;
  background: url(/public/icons/search.svg) no-repeat 1.5rem 1.25rem;
  background-color: var(--card-bg);
  color: var(--text-primary);
  font-size: 1.25rem;

  padding: 1rem;
  padding-inline-start: 3.75rem;
}

.popup {
  background-color: var(--card-bg);
  border-radius: 0.75rem;
  padding: 0.5rem;

  max-height: min(var(--available-height), 11.5rem);
  max-width: var(--available-width);
  width: var(--anchor-width);

  overflow-y: auto;
  overscroll-behavior: contain;
  scroll-padding-block: 0.5rem;
}

.item {
  border-radius: 0.5rem;
  font-size: 1.125rem;
  padding-block: 0.5rem;
  padding-inline: 0.5rem;

  /* Displays an ellipsis (...) for clipped text */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  cursor: default;
  user-select: none;

  &[data-highlighted] {
    background-color: var(--card-row-bg);
    outline: 1px solid var(--card-row-border);
  }
}

.status {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
}

.spinner {
  width: 1rem;
  height: 1rem;
  background-image: url(/public/icons/loading.svg);
  background-repeat: no-repeat;
  animation: spin 0.75s infinite cubic-bezier(0.39, 0.575, 0.565, 1);
}

.error {
  width: 1.25rem;
  height: 1.25rem;
  background-image: url(/public/icons/error.svg);
  background-repeat: no-repeat;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
