.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-inline: 1rem;
}

.container h1 {
  font-family: "Bricolage Grotesque", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 3rem;
  text-align: center;
  padding-block-start: 2.5rem;
  padding-block-end: 1rem;
  padding-inline: 2rem;
}
