.trigger {
  display: flex;
  align-items: center;
  gap: 0.25rem;

  background-color: var(--card-bg);
  border-width: 0;
  border-radius: 0.25rem;
  color: var(--text);
  font-size: 1rem;
  line-height: 1;
  padding: 0.5rem;

  cursor: pointer;
  transition: background-color 100ms ease-in;
}

.trigger:hover {
  background-color: hsl(from var(--card-bg) h s calc(l + 5));
}

.trigger img {
  aspect-ratio: 1 / 1;
  height: 1rem;
}

.trigger img:last-child {
  height: 0.65rem;
}

.label {
  color: var(--card-text-secondary);
  font-size: 1rem;
  padding-inline: 0.5rem;
  margin-block-end: 0.5rem;
}

.content {
  background-color: var(--card-bg);
  border: 2px solid var(--card-border);
  border-radius: 0.5rem;
  font-size: 1.125rem;
  padding: 0.5rem;
}

.switch,
.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;

  border-radius: 0.5rem;
  padding: 0.5rem;

  transition: background-color 100ms ease-in;
}

.item[data-state="checked"] {
  background-color: var(--card-row-bg);
}

.switch {
  margin-block-end: 0.5rem;
  width: 100%;

  background-color: transparent;
  border: none;
  color: var(--text);

  cursor: pointer;
  transition: background-color 100ms ease-in;
}

.switch:hover {
  background-color: var(--card-row-bg);
}

.separator {
  background-color: var(--card-border);
  height: 2px;
  margin-block: 0.5rem;
}
