.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header div img {
  height: 1.8rem;
}

@media (min-width: 1024px) {
  .header div img {
    height: 2.5rem;
  }
}
