.container {
  min-height: 44dvh;
  margin-inline: auto;
  max-width: 41.5rem;
  padding: 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  gap: 2rem;

  text-align: center;
}

.container h1 {
  color: var(--text);
  font-family: "Bricolage Grotesque", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 3rem;
}

.container p {
  color: var(--card-text-secondary);
  font-size: 1.25rem;
  margin-inline: 2rem;
}

.container img {
  width: 2.5rem;
}

.container button {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  height: 2.5rem;
  padding: 0.75rem 1rem;
  width: 6rem;

  background-color: var(--card-bg);
  border-width: 0;
  border-radius: 0.25rem;
  color: var(--text);
  font-size: 1rem;

  cursor: pointer;
  transition: background-color 100ms ease-in;
}

.container button:hover {
  background-color: hsl(from var(--card-bg) h s calc(l + 5));
}

.container button img {
  aspect-ratio: 1 / 1;
  width: 1.125rem;
}
