@font-face {
  font-family: "Bricolage Grotesque";
  src: url("/fonts/Bricolage_Grotesque/BricolageGrotesque-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "DM Sans";
  src: url("/fonts/DM_Sans/DMSans-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "DM Sans";
  src: url("/fonts/DM_Sans/DMSans-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "DM Sans";
  src: url("/fonts/DM_Sans/DMSans-SemiBoldItalic.ttf");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "DM Sans";
  src: url("/fonts/DM_Sans/DMSans-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "DM Sans";
  src: url("/fonts/DM_Sans/DMSans-Light.ttf");
  font-weight: 300;
  font-style: normal;
}
