@import url("fonts.css");

:root {
  font-family: "DM Sans", system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 500;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-width: 320px;
  min-height: 100vh;
}
