@import url("fonts.css");
@import url("theme.css");

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.25;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

/* 
  GLOBALS
*/

:root {
  font-family: "DM Sans", system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 500;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Remove default outline */
:focus {
  outline: none;
}

:focus-visible:not(:hover) {
  outline: 2px solid var(--text);
  outline-offset: 2px;
}

body {
  max-width: 112.5rem;
  margin-inline: auto;
  min-width: 320px;
  min-height: 100vh;
  color: var(--text);
  background-color: var(--bg);
  padding-block: 1rem;
  padding-inline: clamp(1rem, -1.1127rem + 9.0141vw, 7rem);
}

@media (min-width: 1024px) {
  body {
    padding-block-start: clamp(1rem, -2.6923rem + 5.7692vw, 2.5rem);
    padding-block-end: clamp(1rem, -8.8462rem + 15.3846vw, 5rem);
  }
}
