.trigger {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.75rem;

  background-color: var(--card-btn-bg);
  border-width: 0;
  border-radius: 0.5rem;
  color: var(--text);
  font-size: 1rem;
  padding: 0.5rem 1rem;

  cursor: pointer;
  transition: background-color 100ms ease-in;
}

.trigger:hover {
  background-color: hsl(from var(--card-bg) h s calc(l + 5));
}

.content {
  background-color: var(--card-bg);
  border: 2px solid var(--card-border);
  border-radius: 0.5rem;
  font-size: 1.125rem;
  padding: 0.5rem;
  width: clamp(8.75rem, 7.1435rem + 6.8545vw, 13.3125rem);
}

.item {
  border-radius: 0.5rem;
  cursor: pointer;
  padding: 0.5rem;
  transition: background-color 100ms ease-in;
}

.item:hover,
.item[data-state="checked"] {
  background-color: var(--card-row-bg);
}

.item:not(:last-child) {
  margin-block-end: 0.25rem;
}
